@import './color.scss';
@import './font.scss';

$borderRadius: 6px;

$smallPaddingTop: 2px;
$smallPaddingLeft: 6px;

$defaultPaddingTop: 6px;
$defaultPaddingLeft: 10px;

$largePaddingTop: 8px;
$largePaddingLeft: 14px;
